/*
#373737 quase preto
#555555 cinza escuro
#818181 cinza medio
#a1a1a1 cinza claro
#c0c0c0 cinza clarinho
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

body{
    background-color:#818181 ;
}

header{
    background-color:#373737;
    color:#ffffff;
    padding:15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    font-size: 2em;
    font-weight:bold ;
}

nav ul{
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.banner{
    background: url(../img/banner.jpeg) no-repeat center/cover;
    height: 750px; 
    display: flex;
    margin-top: 106px;
    align-items:center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.8em;
    text-align: left;
    text-shadow: 4px 2px  black;
}
section{
    scroll-margin-top: 200px;
}
.bannertexto{
    margin-left: 8%;

}

#sobre{
    padding: 35px;
    background-color:#818181  ;
    color: #fff;
}

.sobre-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}

.sobre-texto{
    flex: 1;
    padding: 20px;
}

.sobre-texto h1{
    font-size: 1.8em;
    margin-bottom: 20px;
    color: black;
}

.sobre-texto p {
    font-size: 1;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

.sobre-texto h2{
    margin-top: 20px;
    color: black;

}

.sobre-texto a{
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8em;
}

.fonte{
    font-size: 0.8em ;
}

.hex-grid{
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.hex{
    width: 140px;
    height: 120px;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden;
    background-color:#a1a1a1 ;
    position: relative;
}

.hex img{
    width: 100%;
    /*height: 100%;*/
    /*object-fit: cover ;*/
}


.card{
    width: 70%;
}

#personagens .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
    gap: 20px;
    text-align: center;
    padding: 50px 0;
}

#personagens .item{
   border: 1px solid #c0c0c0  ;
   background-color: #555555  ;
   border-radius: 10px; 
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition:transform 0.2s ease, box-shadow 0.2s ease;
   cursor: pointer;

}
#personagens .item:hover{
    transform: translatex(-5px);
    box-shadow: 0 8px 16px  rgba(0,0,0, 0.2);
}
#personagens .item:active{
    transform: scale(0.98);
    box-shadow: 0 4px 6px  rgba(0, 0, 0, 0.15);
}

#personagens h1{
    font-size: 1;
    line-height: 1.8;
    text-align: center;
    margin-top: 10px;
}

#personagens .item p{
    margin-top: 15px;
    font-size: 0.95em;
    color: #c0c0c0;
}

#personagens .imagem img{
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
    
}

/*Modal*/
.modal{
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: center;
    /* margin-top: 50PX; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50PX;
}
.card1{
    max-width: 300px;
}
.card1 h3{
    margin-top: 0;
    text-align: center;
}
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: blue;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
}

.modal:target{
    display: flex;
}
.modal-content{
    max-height: 80vh;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    text-align: justify;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.2);

}
.close-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background: #dc3545;
    color:#ffffff;
    border-radius: 6px;
    text-decoration: none;
}


#imagens h1{
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px ;
    max-width: 1000px;
    margin:auto;
    padding: 20px;
}
.galeriaimg{
    width: 100%;
    /* height: 5%; */
    border-radius: 10px  black;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /* margin: 2%; */
    transition: transform 0.3s ease; 
}
.galeriaimg:hover{      
    transform: scale(1.05);
}
.galeriaimg img{
    width: 100%;
    height: auto;
    display: block;
}
.descricao-galeria {
    max-width: 900px;
    margin: 0 auto 20px auto;
    text-align: center;
    font-size: 1em;
    color: #fff;
    line-height: 1.6;
    padding: 0 15px;
}
 #imagens .fonte{
    text-align: center;
    color: white;
    font-size: 0.8em ;
}

#curiosidades{
    padding: 35px;
    background-color:#818181  ;
    color: #fff;
    
}

.curiosidade-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}

.curiosidade-texto{
    flex: 1;
    padding: 20px;
}

.curiosidade-texto h1{
    font-size: 1.8em;
    margin-bottom: 20px; 
}

.curiosidade-texto p {
    font-size: 1;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

.curiosidade-texto h2{
    margin-top: 20px;
    color: black;

}

.curiosidade-texto a{
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8em;
}

.fonte{
    font-size: 0.8em ;
    
}
footer{
    text-align: center;
}



@media(max-width:675px){
    header .container, .sobre-container{
        flex-direction: column;
        text-align: center;
    }
    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }

    .banner{
        margin-top: 120px;

    }
    section{
        scroll-margin-top: 200px;
    }
    .modal{
        margin-top: 100px;
    }
    .modal-content{
        width: 90%;
        max-height: 60vh;
        overflow-y: auto;
        background-color: whitesmoke;
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
        text-align: center;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        font-size: 0.9em; /*fonte levemente menor */
     
    }
    .galeria{
        flex-direction: column;
        display: flex;
        margin-left: 15px;
        margin-right: 15px;
    }
    .galeriaimg{
        flex-direction: column;
        display: flex;
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
    }

   
}